@use "../abstract/variable";
@use "../abstract/mixins";
footer {
  padding: 1.5rem 0;
  background-color: map-get($map: $theme-colors, $key: primary);
  color: map-get($map: $theme-colors, $key: light);
  text-align: center;
  @include responsive(xs) {
    padding: 1rem 0;
  }
  @include responsive(sm) {
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.5rem;
    @include responsive(xs) {
      display: none;
    }
    @include responsive(sm) {
      display: none;
    }
  }
  p {
    color: #e8e8e8;
    font-size: 14px;
    margin: 5px 0;
  }
  a {
    color: map-get($map: $theme-colors, $key: light);

    & :hover {
      transition: 500ms;
      color: map-get($map: $theme-colors, $key: yellow-c);
    }
    & > i {
      padding: 10px;
      font-size: 1.2rem;
    }
  }
  .copyRights {
    font-size: 7px;
    color: #e8e8e8;
  }
}
