@use "../abstract/variable";
@use "../abstract/mixins";

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 2rem;
  align-items: center;
  border-bottom: 0.1px solid #efefef;
  text-transform: uppercase;
  @include responsive(xs) {
    padding: 1rem;
  }
  @include responsive(sm) {
    padding: 0.5rem 1rem;
  }
  @include responsive(md) {
    padding: 0.5rem 1rem;
  }

  &__logo {
    color: map-get($map: $theme-colors, $key: primary);
    animation: color-change 10s infinite;
    @include responsive(xs) {
      font-size: 20px;
    }
    @include responsive(sm) {
      font-size: 15px;
    }
  }
  .mobile-navbar {
    display: none;
    font-size: medium;
    @include responsive(xs) {
      display: block;
    }
    @include responsive(sm) {
      display: none;
    }
  }

  &--menu {
    display: flex;
    list-style: none;
    align-items: center;

    @include responsive(xs) {
      display: none;
    }

    &__item > a {
      margin-right: 1rem;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      color: map-get($map: $theme-colors, $key: dark);
      @include responsive(xs) {
        font-size: 10px;
      }
      @include responsive(sm) {
        font-size: 10px;
      }

      &:hover {
        color: map-get($map: $theme-colors, $key: primary-hover);
        transition: 0.5s;
      }
      &.active {
        color: map-get($map: $theme-colors, $key: primary-hover);
      }
    }
  }
}
