@use "./variable";
@use "./mixins";

//texts
.text-uppercase {
  text-transform: uppercase;
}

//img-resonsive
.img-responsive {
  max-width: 100%;
  height: auto;
}

// Buttons
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  border: none;
  text-align: center;
  cursor: pointer;
  @include responsive(xs) {
    padding: 0.6rem 1rem;
    font-size: 0.7rem;
  }

  &-primary {
    @extend .btn;
    background-color: map-get($map: $theme-colors, $key: primary);
    color: map-get($map: $theme-colors, $key: light);

    &:hover {
      background-color: map-get($map: $theme-colors, $key: primary-hover);
    }
  }

  &-primary-outline {
    @extend .btn;
    border: 2px solid map-get($map: $theme-colors, $key: primary);
    background-color: #fff;
    color: map-get($map: $theme-colors, $key: primary);

    &:hover {
      background-color: map-get($map: $theme-colors, $key: primary);
      color: #fff;
      transition: 500ms;
    }
  }
}

// Badges
.badge {
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1.6rem;

  &-multi {
    @extend .badge;
    animation: bg-change infinite 10s linear;
    color: #fff;

    @include responsive(xs) {
      font-size: 1rem;
      animation: color-change 10s infinite;
      padding: 0;
    }
  }

  &-primary {
    @extend .badge;
    background-color: map-get($map: $theme-colors, $key: primary);
    color: map-get($map: $theme-colors, $key: light);
  }
}

//Spacings

$spacing: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
$directions: top, right, bottom, left, x, y;

@each $space in $spacing {
  // for margins
  .m-#{$space} {
    margin: #{$space}rem !important;
  }
  @each $direction in $directions {
    @if $direction == "x" {
      .mx-#{$space} {
        margin-left: #{$space}rem !important;
        margin-right: #{$space}rem !important;
      }
    } @else if $direction == "y" {
      .my-#{$space} {
        margin-top: #{$space}rem !important;
        margin-bottom: #{$space}rem !important;
      }
    } @else {
      .m#{str-slice($direction,0,1)}-#{$space} {
        margin-#{$direction}: #{$space}rem !important;
      }
    }
  }

  // for padding
  .p-#{$space} {
    padding: #{$space}rem !important;
  }
  @each $direction in $directions {
    @if $direction == "x" {
      .px-#{$space} {
        padding-left: #{$space}rem !important;
        padding-right: #{$space}rem !important;
      }
    } @else if $direction == "y" {
      .py-#{$space} {
        padding-top: #{$space}rem !important;
        padding-bottom: #{$space}rem !important;
      }
    } @else {
      .p#{str-slice($direction,0,1)}-#{$space} {
        padding-#{$direction}: #{$space}rem !important;
      }
    }
  }
}

.line {
  background: linear-gradient(to right, #ef5350, #4154f1);
  width: 4rem;
  height: 0.3rem;
  border-radius: 8px;
  margin: 15px auto;
}
